
<launch>
  <!-- <arg name="model" default="AUBO_Arm_Head"/> -->
  <!-- <arg name="model" default="AUBO_HRM"/> -->

  <!-- <param name="robot_description" command="$(find xacro)/xacro inorder '$(find arm_kinematics_solver)/models/$(arg model).urdf'" /> -->
  
  <!-- <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui"/> -->
  
  <!-- <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" /> -->
  
  <!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(find arm_kinematics_solver)/rviz/urdf.rviz" /> -->
  <node pkg="aubo_arm_planning" name="gripper_use" type="move_to_2.py"/> 

  <arg name="left_chain_start" default="base_link" />
  <arg name="left_chain_end" default="left_flange" />
  <arg name="right_chain_start" default="base_link" />
  <arg name="right_chain_end" default="right_flange" />
  <!-- <env name="ROS_LOG_DIR" value="/home/ubuntu/aubo_ws/src/arm_planning/aubo_arm_planning/log/" /> -->
  <node pkg="aubo_arm_planning" type="arm_planning" name="arm_planning" output= "screen" >
    <param name="left_chain_start" type="string" value="$(arg left_chain_start)"/>
    <param name="left_chain_end"   type="string" value="$(arg left_chain_end)"/>
    <param name="right_chain_start" type="string" value="$(arg right_chain_start)"/>
    <param name="right_chain_end"   type="string" value="$(arg right_chain_end)"/>
  </node>
  
</launch>
